<li class='nav-item'>
  <%= link_to 'Pre-Booked Slots', organizations_path, class: 'nav-link' %>
</li>
<li class='nav-item'>
  <%= link_to 'Booked Slots', booked_slots_organizations_path, class: 'nav-link' %>
</li>
<li class='nav-item'>
  <%= link_to 'Requested Slots', requested_slots_organizations_path, class: 'nav-link' %>
</li>
