<li class='nav-item'>
  <%= link_to 'Vacant Slots', ad_space_agents_path, class: 'nav-link' %>
</li>
<li class='nav-item'>
  <%= link_to 'Pre-Booked Slots', pre_booked_slots_ad_space_agents_path, class: 'nav-link' %>
</li>