<div class='forget-password-grid'>
  <div class='header'>
    <h2>Forgot your password?</h2>
	</div>
  
  <%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), 
    layout: :horizontal, control_col: 'col-6 offset-3', html: { method: :post }) do |f| %>
	    
    <div class='container'>
      <%= f.email_field :email, hide_label: true, placeholder: 'Enter Email' %>
      
      <div class= 'actions'>
        <%= f.submit 'Send me reset password instructions', class: 'btn btn-outline-info btn-sm' %>
        &nbsp;
        <%= link_to 'Back', new_session_path(resource_name), class: 'btn btn-outline-secondary btn-sm' %>
      </div>
    
    </div>
	<% end %>
</div>  