<div class='pre-booked-slots-grid'>
  <div class='header'>
    <h3>Booked Slots</h3>
  </div>
  <div class='container'>
    <table class='table'>
      <thead>
        <tr>
          <th scope='col'>Dates</th>
          <th scope='col'>From Time</th>
          <th scope='col'>To Time</th>
        </tr>
      </thead>
      <tbody>
        <% @booked_slots.each do |slot| %>
          <tr>
            <td scope='row'><%= slot.dates %></td>
            <td><%= slot.time_in_format(slot.from) %></td>
            <td><%= slot.time_in_format(slot.to) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>  
</div>